##
## 		Ignore files' extensions for uploading clean LaTeX projects
##
## To clean local repository, use the following command:
## rm -f *.aux *.glo *.idx *.log *.toc *.ist *.acn *.acr *.alg *.bbl *.blg *.dvi *.glg *.gls *.ilg *.ind *.lof *.lot *.maf *.mtc *.mtc1 *.out *.synctex.gz *.synctex(busy) *.thm
##

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex(busy)
*.thm

## ELECTRON

#directories
bower_components/
node_modules/
dist/

#files
*.tgz
*.log

# Ignore 'make deploy' results
StrumentalMente-*/