.dialog-box {
	background-color: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	overflow-y: hidden;
	resize: both;
	display: flex;
	flex-direction: column;
}

.dialog-box #label {
	color: black !important;
	padding: 0 20px;
}

.dialog-box+.dialog-box-overlay {
	background-color: black;
	opacity: 0.5;
	position: fixed !important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9997;
	backdrop-filter: blur(5px);
	display: none;
}

.dialog-box>.main-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: auto;
}

.dialog-box>.main-wrapper>div {
	flex: 1 1 auto;
	overflow: auto;
	width: 100%;
}

.dialog-page-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 75%;
}