video.right {
	float: right;
}

figure {
	float: right;
	width: 30%;
	border: thin silver solid;
	margin: 1em;
	padding: 0.5em;
	cursor: pointer;
}

figure.left {
	float: left;
}

figure.center {
	float: none;
	margin: 0 auto;
}

figure img {
	width: 100%;
}

figure figcaption {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}

figure figcaption span {
	font-weight: bold;
}

.multiple-figures {
	margin: 32px 0;
	float: none;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.multiple-figures figure {
	flex: 0.1 0 auto;
	width: 20%;
}

figure.modal {
	display: block;
	position: fixed;
	z-index: 5;
	padding-top: 150px;
	left: 0;
	margin: 0;
	border: none;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.9);
}

figure.modal img {
	margin: auto;
	display: block;
	width: 80%;
	background-color: white;
	max-width: 700px;
	max-height: 80vh;
	position: absolute;
	top: calc(50% - 32px);
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: zoom;
	animation-duration: 0.6s;
}

figure.modal figcaption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

figure.modal .close-btn {
	position: absolute;
	top: 40px;
	right: 40px;
	color: #f1f1f1;
	font-size: 1em;
	transition: 0.3s;
	background-color: transparent;
	border: none;
	width: 46px;
	height: 46px;
	border-radius: 50%;
}

figure.modal .close-btn:hover, figure.modal .close-btn:focus {
	background-color: rgba(255, 255, 255, 0.1);
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0) translate(-50%, -50%);
	}
	to {
		-webkit-transform: scale(1) translate(-50%, -50%);
	}
}

@keyframes zoom {
	from {
		transform: scale(0) translate(-50%, -50%);
	}
	to {
		transform: scale(1) translate(-50%, -50%);
	}
}