audio::-webkit-media-controls-panel {
	background-color: #fff;
}

audio:hover, audio:focus, audio:active {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

audio {
	transition: all 0.3s linear;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
}

header audio {
	width: 100%;
	height: 40px;
}

video.center {
	float: none;
	margin: 0 auto;
}

video::-webkit-media-controls-overlay-play-button {
	filter: invert(1) opacity(0.5);
}