audio::-webkit-media-controls-panel {
	background-color: #fff;
}

audio:hover, audio:focus, audio:active
{
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.2);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.2);
	box-shadow: 5px 5px 10px rgba(0,0, 0, 0.2);
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #571E00;
-webkit-box-shadow:  2px 2px 4px 0px #571E00;
box-shadow: 2px 2px 4px 0px #571E00;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
header audio {
	width: 100%;
	height: 40px;
}