/* 
LINK E BOTTONI
==============
Nel presente file sono definite le seguenti
classi aventi i seguenti stili:
- .btn
    - Definisce un "bottone contenuto" (contained button)
      come definito nello standard del Material Design: vedere
      https://material.io/design/components/buttons.html#contained-button
- .btn-text
    - Definisce un "bottone testuale" (text button) come
      definito nello standard del Material Design: vedere
      https://material.io/design/components/buttons.html#text-button
- .btn-outlined
    - Definisce un "bottone delineato" (outlined button)
      come definito nello standard del Material Design: vedere
      https://material.io/design/components/buttons.html#outlined-button
- .btn-icon
    - Se tale classe è posta come figlia di un bottone (di qualunque tipo)
      definisce lo stile di un'icona allineata a destra.
- .btn-icon.left
    - Definisce un'icona allineata a sinistra (basandosi sulle regole di .btn-icon)
*/

/* classe .btn */

.btn {
	text-transform: uppercase;
	line-height: 1.5em;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border-width: 0;
	outline: none;
	font-size: 15px;
	font-family: var(--font-text);
	display: inline-block;
	padding: 12px 24px;
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	background-color: var(--main-color);
	color: white;
	text-decoration: none;
	text-align: center;
	transition: background-color .3s;
	font-weight: bold;
}

.btn:hover, .btn:focus {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	background-color: var(--main-color-light);
}

.btn:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	padding-top: 0;
	border-radius: 100%;
	/* animazione del click (v. linee guida Material Design) */
	background-color: rgba(236, 240, 241, .3);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn:active:before {
	width: 120%;
	padding-top: 120%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn:disabled, .btn:disabled:hover {
	color: white;
	background-color: var(--grey);
	box-shadow: none;
	cursor: not-allowed;
}

/* classe .btn-text */

.btn-text {
	text-transform: uppercase;
	line-height: 1.5em;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	outline: none;
	border: none;
	font-size: 15px;
	font-family: var(--font-text);
	display: inline-block;
	padding: 12px 24px;
	border-radius: 4px;
	background-color: transparent;
	color: var(--main-color);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	transition: background-color .3s;
}

.btn-text:hover, .btn-text:focus {
	background-color: var(--main-color-transparent);
}

.btn-text:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	padding-top: 0;
	border-radius: 100%;
	/* animazione del click (v. linee guida Material Design) */
	background-color: var(--main-color-dark-transparent);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn-text:active:before {
	width: 120%;
	padding-top: 120%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn-text:disabled, .btn-text:disabled:hover {
	color: var(--grey-dark);
	background-color: transparent;
	cursor: not-allowed;
}

/* classe .btn-outlined */

.btn-outlined {
	text-transform: uppercase;
	line-height: 1.5em;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border: 2px solid var(--main-color);
	outline: none;
	font-size: 15px;
	font-family: var(--font-text);
	display: inline-block;
	padding: 12px 24px;
	border-radius: 4px;
	background-color: transparent;
	color: var(--main-color);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	transition: background-color .3s;
}

.btn-outlined:hover, .btn-outlined:focus {
	background-color: var(--main-color-transparent);
}

.btn-outlined:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	padding-top: 0;
	border-radius: 100%;
	/* animazione del click (v. linee guida Material Design) */
	background-color: var(--main-color-dark-transparent);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn-outlined:active:before {
	width: 120%;
	padding-top: 120%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn-outlined:disabled, .btn-outlined:disabled:hover {
	color: var(--grey);
	border-color: var(--grey);
	background-color: transparent;
	cursor: not-allowed;
}

.btn.start-button {
	border-radius: 130px;
}

/* Icone */

.btn .btn-icon, .btn-text .btn-icon, .btn-outlined .btn-icon {
	line-height: inherit;
	float: right;
	margin: 0 0 0 10px;
}

.btn .btn-icon.left, .btn-text .btn-icon.left, .btn-outlined .btn-icon.left {
	line-height: inherit;
	float: left;
	margin: 0 10px 0 0;
}

.buttons-container {
    width: calc(100% - 46px);
    margin: 0 auto;
    display: grid;
    padding-bottom: 20px;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

@media only screen and (max-width: 992px) {
	.buttons-container {
		/* 40px è lo spessore dei due padding */
		width: calc(100% - 40px);
	}
}

.buttons-container .first-column {
	grid-column: 1;
	text-align: left;
}

.buttons-container .second-column {
	grid-column: 2;
	text-align: center;
}

.buttons-container .third-column {
	grid-column: 3;
	text-align: right;
}

.buttons-container button {
	width: fit-content;
}

/* Bottoni audio (per non vedenti) */

header .blind-audio-buttons {
	float: right;
	width: calc(56px * 2);
	border: 2px solid var(--main-color);
	border-radius: 4px;
}

header .blind-audio-buttons .btn-audio {
	float: left;
	width: 56px;
	height: 56px;
	padding: 0;
	text-transform: uppercase;
	line-height: 1.5em;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	outline: none;
	border: none;
	font-family: var(--font-text);
	display: inline-block;
	border-radius: 4px;
	background-color: transparent;
	color: var(--main-color);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	transition: background-color .3s;
}

header .blind-audio-buttons .btn-audio.btn-accessibility {
	width: calc(56px * 2);
	font-size: 15pt;
}

header .blind-audio-buttons .btn-audio:hover, header .blind-audio-buttons .btn-audio:focus {
	background-color: var(--main-color-transparent);
}

header .blind-audio-buttons .btn-audio:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	padding-top: 0;
	border-radius: 100%;
	/* animazione del click (v. linee guida Material Design) */
	background-color: var(--main-color-dark-transparent);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

header .blind-audio-buttons .btn-audio:active:before {
	width: 120%;
	padding-top: 120%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}

header .blind-audio-buttons .btn-audio:disabled, header .blind-audio-buttons .btn-audio:disabled:hover {
	color: var(--grey-dark);
	background-color: transparent;
	cursor: not-allowed;
}

a.external::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	content: "\f35d";
	margin-left: .5em;
	font-size: 5pt;
	vertical-align: super;
}