.num_tasto {
	background: none;
	color: #222;
	font-family: "Montserrat";
	font-size: 10pt;
	margin-left: 50px;
	margin-right: -27px;
	display: inline;
}

.check {
	display: block;
	cursor: pointer;
	background-image: url("../../images/schemi_base_chitarra/indicatore_vuoto.svg");
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	height: 25px;
	width: 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-khtml-appearance: none;
	z-index: 2;
	width: 26px;
	height: 26px;
	left: 50%;
	margin-left: -13px;
	margin-top: -13px;
	text-align: center;
	border-radius: 50%;
	padding-top: 4px;
	transition: background-image 0.2s;
}

.check:hover {
	background-image: url("../../images/schemi_base_chitarra/indicatore_hover.svg");
}

.check:checked {
	background-image: url("../../images/schemi_base_chitarra/indicatore_pieno.svg");
}

.check:checked:hover {
	background-image: url("../../images/schemi_base_chitarra/indicatore_pieno_hover.svg");
}

.check:disabled,
.check:disabled:hover {
	background-image: url("../../images/schemi_base_chitarra/indicatore_vuoto.svg");
	cursor: default;
}

.check:disabled:checked,
.check:disabled:checked:hover {
	background-image: url("../../images/schemi_base_chitarra/indicatore_pieno.svg");
	cursor: default;
}

.nome_accordo {
	font-family: "Montserrat";
	font-size: 3rem;
	margin: 10px 0 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin-left: -19px;
}

.box {
	max-width: -webkit-fill-available;
	float: left;
	width: 400px;
	margin-left: 10px;
}

.diagramma {
	position: relative;
}

.diagramma .riga {
	clear: both;
}

.diagramma .riga.prima .sopra {
	border-top: 1px solid #222;
}

.diagramma .riga.ultima .sopra {
	border: 1px solid #fff;
}

.diagramma .cella {
	float: left;
	position: relative;
	width: 76px;
	height: 32px;
}

.diagramma .cella.sopra {
	border: 1px solid #222;
	border-top: 0;
}

.diagramma .cella.sopra:not(:last-of-type) {
	border-right: 0;
}

.diagramma .cella.etichetta {
	width: 20px;
}

.diagramma .cella .nota {
	position: absolute;
	z-index: 2;
	width: 26px;
	height: 26px;
	left: 50%;
	margin-left: -13px;
	margin-top: -13px;
	text-align: center;
	border-radius: 50%;
	padding-top: 4px;
}

.diagramma .cella .nota.nome_corda {
	background: none;
	color: #222;
	font-family: "Montserrat";
}

.diagramma .cella .nota.nome_corda {
	color: #666;
}

img.quiz-piano-keyboard {
	width: 100%;
}

.diagramma .piano-white {
	width: 100%;
	display: grid;
	grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
	position: absolute;
	bottom: 3%;
	left: 0;
	right: 0;
}
.diagramma .piano-black {
	width: 100%;
    display: grid;
    grid-template-columns: 9% 8.3% 8.8% 8.3% 16.7% 8% 8.3% 8.1% 8.3% 8.3%;
    position: absolute;
	top: 65%;
	left: 0;
	right: 0;
}

.diagramma .piano-black .spacer {
	width: 100%;
}

.piano-white input.check.nota {
    position: initial;
    margin: 0 15px;
}

.piano-black input.check.nota {
    position: initial;
    margin: 0 3px;
}