@import url("./fonts.css");
:root {
	--font-title: 'Montserrat', sans-serif;
	--font-text: 'Raleway', sans-serif;
	--main-color: rgb(229, 81, 0);
	--main-color-light: rgb(231, 92, 17);
	--main-color-dark: rgb(190, 67, 0);
	--main-color-transparent: rgb(250, 220, 204);
	--main-color-dark-transparent: rgba(190, 67, 0, 0.2);
	--grey: rgb(192, 192, 192);
	--grey-dark: rgb(148, 148, 148);
}