@import url("./main/variables.css");
@import url("./main/navbar.css");
@import url("./main/links-and-buttons.css");
@import url("./main/footer.css");
/* Regole semplici dell'intero sito non classificabili: */

body {
    margin: 0;
    font-family: var(--font-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    padding: 32px 0 0 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.main-wrapper .content {
    padding: 0 20px 0 20px;
    flex: 1 1 auto;
    width: 75vw;
}

@media only screen and (max-width: 768px) {
    .main-wrapper .content {
        width: 15vw;
    }
}