
:root {
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Raleway', sans-serif;
    --main-color: rgb(229, 81, 0);
    --main-color-dark: rgb(190, 67, 0);
    --main-color-transparent: rgba(229, 81, 0, 0.2);
    --main-color-dark-transparent: rgba(190, 67, 0, 0.2);
}
#titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: 100%;
    color: #FFF;
    background: #3f3f3f;
    /* 
     * La titlebar deve essere sempre mostrata sopra ogni cosa, per cui
     * si ha un valore z-index piuttosto elevato.
     */
    z-index: 10;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
}

#window-controls #min-button {
    grid-column: 1;
}

#window-controls #max-button, #window-controls #restore-button {
    grid-column: 2;
}

#window-controls #close-button {
    grid-column: 3;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

#window-controls #close-button:hover {
    background: #E81123;
}

#window-controls #restore-button {
    display: none;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    margin-left: 8px;
    overflow-x: hidden;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    width: 100%;
    text-align: center;
}

#window-title-image {
    height: 16px;
    width: 16px;
    margin-right: 138px;
}
nav.main-navigation {
    width: 15vw;
    z-index: 1;
    flex: 1 0 auto;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
    line-height: 1.5;
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
}

nav.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
}

nav.main-navigation li {
    float: none;
}

nav.main-navigation li button {
    background-color: #333;
    border: none;
    cursor: pointer;
    width: 100%;
}

nav.main-navigation li a, nav.main-navigation li button {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    font: inherit;
    text-decoration: none;
}

nav.main-navigation li:not(.active):not(.logo) a:hover, nav.main-navigation li:not(.active):not(.logo) button:hover {
    background-color: #111;
}

nav.main-navigation .active {
    background-color: var(--main-color);
}

@keyframes gradually-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav.main-navigation .dropdown ul {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: initial;
    position: relative;
    box-shadow: none;
}

nav.main-navigation .dropdown ul.show {
    display: block;
    animation: gradually-show 0.25s linear 0s 1 normal;
}

nav.main-navigation .dropdown ul.reverse {
    display: block;
    animation: gradually-show 0.25s linear 0s 1 reverse;
}

nav.main-navigation .dropdown li {
    float: none;
}

nav.main-navigation .dropdown li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav.main-navigation .dropdown li a:hover {
    color: white;
}

nav.main-navigation li i.fas {
    display: inline-block;
    border-radius: 60px;
    width: 1em;
    padding: 0.5em 0.6em;
    margin-right: .5vw;
}

/*nav.main-navigation .dropdown:hover ul {
    display: block;
}*/

nav.main-navigation .logo a {
    text-decoration: none;
    background-color: transparent;
    display: block;
    text-align: center;
    padding: 14px 0;
}

nav.main-navigation .logo img {
    border-style: none;
    vertical-align: top !important;
    width: 48px;
    height: 48px;
    clear: both;
    float: none;
}

nav.main-navigation .logo h1 {
    font-size: 15pt;
    font-family: var(--font-title);
    font-weight: normal;
}

nav.main-navigation .logo h1 span {
    font-weight: 600;
}

nav.main-navigation+#sidebar-controller {
    position: sticky;
    top: 32px;
    display: none;
    background-color: #333;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    font: inherit;
    text-decoration: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

nav.main-navigation+#sidebar-controller:hover, nav.main-navigation+#sidebar-controller:active {
    background-color: #111;
}

@media only screen and (max-width: 992px) {
    nav.main-navigation {
        width: 25vw;
    }
}

/* navigation bar per schermi piccoli */

@media only screen and (max-width: 768px) {
    nav.main-navigation {
        display: none;
    }
    nav.main-navigation+#sidebar-controller {
        display: block;
    }
    nav.main-navigation.responsive {
        display: flex;
    }
}
/* 
LINK E BOTTONI
==============
Nel presente file sono definite le seguenti
classi aventi i seguenti stili:
- .btn
    - Definisce un "bottone contenuto" (contained button)
      come definito nello standard del Material Design: vedere
      https://material.io/design/components/buttons.html#contained-button
- .btn-text
    - Definisce un "bottone testuale" (text button) come
      definito nello standard del Material Design: vedere
      https://material.io/design/components/buttons.html#text-button
- .btn-outlined
    - Definisce un "bottone delineato" (outlined button)
      come definito nello standard del Material Design: vedere
      https://material.io/design/components/buttons.html#outlined-button
- .btn-icon
    - Se tale classe è posta come figlia di un bottone (di qualunque tipo)
      definisce lo stile di un'icona allineata a destra.
- .btn-icon.left
    - Definisce un'icona allineata a sinistra (basandosi sulle regole di .btn-icon)
*/

/* classe .btn */

.btn {
    text-transform: uppercase;
    line-height: 1.5em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-width: 0;
    outline: none;
    font-size: 15px;
    font-family: var(--font-text);
    display: inline-block;
    padding: 12px 24px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s;
    font-weight: bold;
}

.btn:hover, .btn:focus {
    background-color: var(--main-color-dark);
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    /* animazione del click (v. linee guida Material Design) */
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* classe .btn-text */

.btn-text {
    text-transform: uppercase;
    line-height: 1.5em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
    font-size: 15px;
    font-family: var(--font-text);
    display: inline-block;
    padding: 12px 24px;
    border-radius: 2px;
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s;
}

.btn-text:hover, .btn-text:focus {
    background-color: var(--main-color-transparent);
}

.btn-text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    /* animazione del click (v. linee guida Material Design) */
    background-color: var(--main-color-dark-transparent);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-text:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* classe .btn-outlined */

.btn-outlined {
    text-transform: uppercase;
    line-height: 1.5em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid grey;
    outline: none;
    font-size: 15px;
    font-family: var(--font-text);
    display: inline-block;
    padding: 12px 24px;
    border-radius: 2px;
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s;
}

.btn-outlined:hover, .btn-outlined:focus {
    background-color: var(--main-color-transparent);
}

.btn-outlined:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    /* animazione del click (v. linee guida Material Design) */
    background-color: var(--main-color-dark-transparent);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-outlined:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.start-button {
    border-radius: 130px;
}

/* Icone */

.btn .btn-icon, .btn-text .btn-icon, .btn-outlined .btn-icon {
    line-height: inherit;
    float: right;
    margin: 0 0 0 10px;
}

.btn .btn-icon.left, .btn-text .btn-icon.left, .btn-outlined .btn-icon.left {
    line-height: inherit;
    float: left;
    margin: 0 10px 0 0;
}
footer {
    font-size: 8pt;
    background-color: #333;
    line-height: 1.5;
    padding-top: 20px;
    font-family: var(--font-title);
    flex-shrink: 0;
    z-index: 2;
    overflow: hidden;
    padding: 0 15px;
    color: #bbb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a, footer a:visited {
    color: #ddd;
    text-decoration: none;
}

footer a:hover, footer a:active {
    color: #fff;
    text-decoration: none;
}

footer .links {
    display: flex;
}

footer div {
    padding: 0 20px;
}

footer img {
    width: 46px;
    height: 46px;
}
.slideshow, .slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    list-style-type: none;
}

.slideshow:after {
    content: '';
    background: transparent none;
}

.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    filter: blur(2px);
    opacity: 0;
    z-index: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
    background-image: url("../images/black-and-white-electronic-keyboard-keys-63696.jpg");
}

.slideshow li:nth-child(2) span {
    background-image: url("../images/adult-band-concert-995301.jpg");
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url("../images/audio-black-and-white-black-and-white-6966.jpg");
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
    background-image: url("../images/acoustic-acoustic-guitar-black-and-white-54133.jpg");
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.slideshow li:nth-child(5) span {
    background-image: url("../images/black-and-white-blur-book-164821.jpg");
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}

.slideshow li:nth-child(6) span {
    background-image: url("../images/artist-guitar-guitarist-33597.jpg");
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}

/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

/* Show at least something when animations not supported */

.no-cssanimations .slideshow li span {
    opacity: 1;
}
/* Regole semplici dell'intero sito non classificabili: */

html, body {
    overflow: hidden
}

body {
    margin: 0;
    font-family: var(--font-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 11pt;
}

.main-wrapper {
    padding: 32px 0 0 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.main-wrapper .content {
    padding: 0 20px 0 20px;
    flex: 1 1 auto;
    width: 75vw;
}

article aside {
    display: inline;
}

h1 { font-size: 35pt; margin: 0.5em 0; }
h2 { font-size: 20pt; margin: 0.5em 0; }
h3 { font-size: 15pt; margin: 0.5em 0; }
h4 { font-size: 11pt; margin: 0.5em 0; }
h5 { font-size: 10pt; margin: 0.5em 0; }
h6 { font-size: 9pt; margin: 0.5em 0; }

h1, h2, h3, h4, h5, h6 { font-family: var(--font-title); }

header h1 + h2 {
    color: #666;
    font-size: 15pt;
    margin-top: -1em;
}

figure {
    float: right;
    width: 30%;
    border: thin silver solid;
    margin: 1em;
    padding: 0.5em;
}

figure img {
    width: 100%;
}

figure figcaption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

figure figcaption span {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .main-wrapper .content {
        width: 15vw;
    }
}