@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"), url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), local("Raleway-Regular"), url("fonts/Raleway/Raleway-Regular") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("fonts/Raleway/Raleway-SemiBold") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: local("Raleway Bold"), local("Raleway-Bold"), url("fonts/Raleway/Raleway-Bold") format("truetype");
}